#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Exec=~/bin/noch_less/noch_less.py
Name=Noch Less
Icon=~/bin/noch_less/assets/lessie.png
